#app {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
.done {
  text-decoration: line-through;
}

.list-complete-item {
  transition: all 1s;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateX(30px);
}
.list-complete-leave-active {
  position: absolute;
}

#todoForm {
  width: 100%;
}
#todoSubmit {
  background-color: inherit;
  border: 1px solid #88f;
  color: #88f;
  line-height: 3em;
  margin: 0 auto;
  font-weight: bold;
}