#container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: center;
}
#itemA {
  background-color: #f88;
}
#itemB {
  background-color: #8f8;
}
#itemC {
  background-color: #88f;
}
#itemD {
  background-color: #ff8;
}
#itemE {
  background-color: #8ff;
}
#itemF {
  background-color: #f8f;
}